*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.form{
    /* border: 1px solid black; */
    height: 50vh;
    width: 30%;
    top: 20vh;
    margin: auto;
    position: relative;
    box-shadow: 0 0 20px black;
    border-radius: 5px;
    background: rgba(19, 7, 7, 0.445);
    
}
.main{
    height: 100vh;
    width: 100%;
    border: 1px solid;
    position: relative;
    background: #553838;
    transition: all 0.35s;
}
.inp_mail{
    color: white;
    height: 8vh;
    width: 50%;
    position: absolute;
    left: 25%;
    top: 10vh;
    background:transparent ;
    border: none;
    border-bottom: 1px solid gray;

}
.inp_pas{
    color: white;

    height: 8vh;
    width: 50%;
    position: absolute;
    left:25%;
    top: 20vh;
    background:transparent ;
    border: none;
    border-bottom: 1px solid gray;

}
.sub{
    top: 34vh;
    height: 5vh;
    width: 20%;
    cursor: pointer;
    position: absolute;
    left: 40%;
    background: transparent;
    border: 1px solid gray;
    border-radius: 5px;
    color: white;
}
.main2{
    position: absolute;
    height: 100vh;
    width: 100%;
    top: -100vh;
    transition: 0.35s;
    background: black;

}
.down{
    top: 0;
}
.scla{
    transform: scale(0.9) ;
}
.cart_books{
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
    top: 10vh;
    position: relative;
}
.cart_books img{
    height: 100%;
    width: 12%;
  }
  .cart_books h1{
    position: absolute;
    left: 15%;
    top: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
  }
  .cart_item{
    height: 80vh;
    width: 80%;
    /* border: 1px solid; */
    position: relative;
    margin: auto;
    top: 20vh;
    overflow:auto;
  }
  .price{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 15%;
    top: 6vh;
    color: white;
  }
  .preview_item{
    position: absolute;
    left: 15%;
    top: 15vh;
    background: transparent;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    height: 5vh;

  }
  .preview_item a{
    color: white;
    text-decoration: none;
  }